body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
  color: #333;
}

header {
  background-color: #112557;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

header img {
  height: 100px;
  width: auto;
  margin-right: 20px;
  object-fit: contain;
}


header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

header p {
  margin: 5px 0 0;
  font-size: 14px;
}

nav {
  background-color: #00579d;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

nav a:hover {
  color: #ffcc00;
  text-decoration: underline;
}

.section {
  padding: 40px 20px;
  text-align: center;
}

.section h2 {
  color: #00579d;
}

.produtos, .ebooks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
  width: 200px;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:hover p {
  color: #00579d;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.card p {
  font-weight: bold;
  margin: 10px 0;
  text-decoration: none;
}

.price {
  color: #32CD32;
  font-weight: bold;
}

footer {
  background: #112557;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.banner {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.btn-carrinho {
  display: inline-block;
  margin: 20px 0;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
}
.btn-carrinho:hover {
  background-color: #0056b3;
}

